body {
background-color: rgb(2, 2, 14);
color:rgba(230, 231, 236, 0.61);
text-align: justify;
font-size: 25px;
}

h1{
    background-color: black;
    color:aliceblue
    text-align: center;
    font-size: 30px





